body, html {
  background-image: url(../img/pattern.png);
  overflow-x: hidden;
}

#slidercontainer {
  background-image: url(../img/vw_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 30% 50%;
  /*height: 500px;*/
}

.headshot {
/*  height: 80%;
  width: 80%;*/
}

.fullwidth {
	width: 100%;
	height: 100%;
}

.logo {
	z-index: 9999;
	position: fixed;
	background-color: rgba(0, 0, 0, .8);
	width: 100%;
}

.logo img {
	padding: 15px;
}

.toppad {
  padding-top: 10px;
}

.toppadbig {
  padding-top: 50px;
}

.bottompad {
	padding-bottom: 50px;
}

.allpad {
  padding: 1em;
}

.leading {
  line-height: -10px !important;
}

.dividerline {
  border-top: 2px solid #5dc5c3;
  margin-top: 2px;
  margin-bottom: 2px;
}

#welcometype {
  padding-bottom: 20px;
}

.menu {
  padding-left: 15px;
  padding-right: 15px;
}

.bigpad {
  padding: 50px 15px 50px 15px;
}

.padsmall {
  padding-top: 0px;
  margin-bottom: 0px;
}

.white {
  background-color: #fff;
}

.grey {
  background-color: #f7f9f9;
}

.carousel-control.right {
  background: rgba(0, 0, 0, 0);
}
.carousel-control.left {
  background: rgba(0, 0, 0, 0);
}

.line {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

h1 {
	color: #66cccc;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
  letter-spacing: .5px;
}

h2 {
  color: #5d6060;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
  letter-spacing: .1px;
  line-height: 36px;
  margin-top: -10px;
}

h3 {
  color: #5dc5c3;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 40px;
  color: #5d6060;
}

.headline {
  font-weight: 300;
  letter-spacing: -1.25px;
  color: #5d6060;

}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 52px;
  letter-spacing: .1px;
  line-height: 36px;
  margin-top: -10px;
  color: #fff;
}

p {
  color: #5dc5c3;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

@media (min-width: 768px){
  .container {
  /* width: 750px; */
  }
  .navbar-nav {
    float: right;
  }
}


#mainnav {
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid #fff;
}

.navbar-toggle {
  margin-top: 15px;
  border: 0px solid #fff;
}

.navbar-nav {
  padding-top: 25px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #5DC5C3;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: #5DC5C3;
  color: #fff;
}


/* Fade transition for carousel items */
.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity .8s; /*adjust timing here */
         -moz-transition: opacity .8s;
           -o-transition: opacity .8s;
              transition: opacity .8s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}