body, html {
  background-image: url(../img/pattern.png);
  overflow-x: hidden;
}

.fullwidth {
	width: 100%;
	height: 100%;
}

.logo {
	z-index: 9999;
	position: fixed;
	background-color: rgba(0, 0, 0, .8);
	width: 100%;
}

.logo img {
	padding: 15px;
}

.toppad {
  padding-top: 10px;
}

.bottompad {
	padding-bottom: 50px;
}

.leading {
  line-height: -10px;
}

.dividerline {
  border-top: 2px solid #5dc5c3;
  margin-top: 2px;
  margin-bottom: 2px;
}

#welcometype {
  padding-bottom: 20px;
}

.menu {
  padding-left: 15px;
  padding-right: 15px;
}

.bigpad {
  padding: 50px 0px 50px 0px;
}

.white {
  background-color: #fff;
}

.grey {
  background-color: #edeeee;
}

.carousel-control.right {
  background: rgba(0, 0, 0, 0);
}
.carousel-control.left {
  background: rgba(0, 0, 0, 0);
}

.line {
  border-top: 1px solid rgba(93, 197, 193, .3);
}

h1 {
	color: #66cccc;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
  letter-spacing: .5px;
}

h2 {
  color: #5dc5c3;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 24px;
  letter-spacing: .1px;
  line-height: 36px;
  margin-top: -10px;
}

h3 {
  color: #5dc5c3;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 40px;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 52px;
  letter-spacing: .1px;
  line-height: 36px;
  margin-top: -10px;
  color: #fff;
}

p {
  color: #5dc5c3;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

@media (min-width: 768px){
  .container {
  /* width: 750px; */
  }
}